<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Type what happened to you above. Using speech recognition on iPhone keyboard (microphone icon) is usable to record.</string>
	<string>Sample: Alexa was so mean and moody, was giving everybody hard time at school.</string>
	<string>Sample: Josh helped me to work on a difficult task that I&apos;d been strugling for.</string>
	<string>Nice weather with ocean breeze feels so good.</string>
</array>
</plist>
