<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Home</string>
	<string>Work</string>
	<string>School</string>
	<string>Shop</string>
	<string>Grocery Store</string>
	<string>Drug Store</string>
	<string>Restaurant</string>
	<string>Fast Foods &amp; Take-Out Place</string>
	<string>Cafe, Tea Room</string>
	<string>Dry Cleaning</string>
	<string>Bar, Club, Night Life</string>
	<string>Shopping Mall/Strip</string>
	<string>On the Road, Street, Freeway, Intersection</string>
	<string>Somebody&apos;s House</string>
	<string>Movie theater</string>
	<string>Music Venue, Concert, Festival</string>
	<string>Museum, Art Gallery</string>
	<string>Gym</string>
	<string>Sports Field, Stadium</string>
	<string>Outdoor Park, Open Space, Trail</string>
	<string>Bust Stop, Train Station, Taxi stop</string>
	<string>Airport</string>
	<string>Car Rental</string>
	<string>Auto Maintenance Shop</string>
</array>
</plist>
