<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Agreeable</key>
	<integer>100</integer>
	<key>Amazed</key>
	<integer>100</integer>
	<key>Appreciated</key>
	<integer>100</integer>
	<key>Attractive</key>
	<integer>100</integer>
	<key>Beautiful</key>
	<integer>100</integer>
	<key>Better</key>
	<integer>100</integer>
	<key>Bold</key>
	<integer>100</integer>
	<key>Brave</key>
	<integer>100</integer>
	<key>Calm</key>
	<integer>100</integer>
	<key>Cheerful</key>
	<integer>100</integer>
	<key>Clean</key>
	<integer>100</integer>
	<key>Confident</key>
	<integer>100</integer>
	<key>Contented</key>
	<integer>100</integer>
	<key>Delightful</key>
	<integer>100</integer>
	<key>Devoted</key>
	<integer>100</integer>
	<key>Easy Going</key>
	<integer>100</integer>
	<key>Encouraging</key>
	<integer>100</integer>
	<key>Ehthusiastic</key>
	<integer>100</integer>
	<key>Excited</key>
	<integer>100</integer>
	<key>Festive</key>
	<integer>100</integer>
	<key>Free</key>
	<integer>100</integer>
	<key>Fresh</key>
	<integer>100</integer>
	<key>Fun</key>
	<integer>100</integer>
	<key>Funny</key>
	<integer>100</integer>
	<key>Generous</key>
	<integer>100</integer>
	<key>Gentle</key>
	<integer>100</integer>
	<key>Gorgeous</key>
	<integer>100</integer>
	<key>Great</key>
	<integer>100</integer>
	<key>Hopeful</key>
	<integer>100</integer>
	<key>Interested</key>
	<integer>100</integer>
	<key>Jolly</key>
	<integer>100</integer>
	<key>Joyful</key>
	<integer>100</integer>
	<key>Jubilant</key>
	<integer>100</integer>
	<key>Kind</key>
	<integer>100</integer>
	<key>Loving</key>
	<integer>100</integer>
	<key>Neutral</key>
	<integer>100</integer>
	<key>Optimistic</key>
	<integer>100</integer>
	<key>Proud</key>
	<integer>100</integer>
	<key>Recognized</key>
	<integer>100</integer>
	<key>Relax</key>
	<integer>100</integer>
	<key>Respectful</key>
	<integer>100</integer>
	<key>Safe</key>
	<integer>100</integer>
	<key>Satisfied</key>
	<integer>100</integer>
	<key>Secured</key>
	<integer>100</integer>
	<key>Serene</key>
	<integer>100</integer>
	<key>Strong</key>
	<integer>100</integer>
	<key>Supportive</key>
	<integer>100</integer>
	<key>Sweet</key>
	<integer>100</integer>
	<key>Upbeat</key>
	<integer>100</integer>
	<key>Valued</key>
	<integer>100</integer>
	<key>Warm</key>
	<integer>100</integer>
	<key>Wonderful</key>
	<integer>100</integer>
	<key>Aggravated</key>
	<integer>-100</integer>
	<key>Anger</key>
	<integer>-100</integer>
	<key>Annoyed</key>
	<integer>-25</integer>
	<key>Anxious</key>
	<integer>-25</integer>
	<key>Awful</key>
	<integer>-100</integer>
	<key>Bitter</key>
	<integer>-25</integer>
	<key>Boring</key>
	<integer>-25</integer>
	<key>Chilly</key>
	<integer>-25</integer>
	<key>Cold</key>
	<integer>-25</integer>
	<key>Depressed</key>
	<integer>-100</integer>
	<key>Dirty</key>
	<integer>-100</integer>
	<key>Disgruntled</key>
	<integer>-100</integer>
	<key>Disgusted</key>
	<integer>-100</integer>
	<key>Disappointed</key>
	<integer>-100</integer>
	<key>Discriminated</key>
	<integer>-100</integer>
	<key>Downcast</key>
	<integer>-100</integer>
	<key>Dreadful</key>
	<integer>-100</integer>
	<key>Dreary</key>
	<integer>-100</integer>
	<key>Dull</key>
	<integer>-25</integer>
	<key>Dumb</key>
	<integer>-25</integer>
	<key>Emotional</key>
	<integer>-25</integer>
	<key>Evil</key>
	<integer>-100</integer>
	<key>Exhausted</key>
	<integer>-100</integer>
	<key>Frustrated</key>
	<integer>-100</integer>
	<key>Furious</key>
	<integer>-100</integer>
	<key>Grumpy</key>
	<integer>-25</integer>
	<key>Guilty</key>
	<integer>-100</integer>
	<key>Heavy</key>
	<integer>-25</integer>
	<key>Horrified</key>
	<integer>-100</integer>
	<key>Hurtful</key>
	<integer>-100</integer>
	<key>Ignored</key>
	<integer>-25</integer>
	<key>Irritated</key>
	<integer>-100</integer>
	<key>Mad</key>
	<integer>-100</integer>
	<key>Miserable</key>
	<integer>-100</integer>
	<key>Moody</key>
	<integer>-25</integer>
	<key>Narcissistic</key>
	<integer>-25</integer>
	<key>Nasty</key>
	<integer>-100</integer>
	<key>Nervous</key>
	<integer>-25</integer>
	<key>Overbearing</key>
	<integer>-25</integer>
	<key>Obnoxious</key>
	<integer>-25</integer>
	<key>Oppressive</key>
	<integer>-100</integer>
	<key>Paranoid</key>
	<integer>-100</integer>
	<key>Pessimistic</key>
	<integer>-100</integer>
	<key>Resentful</key>
	<integer>-100</integer>
	<key>Ridiculous</key>
	<integer>-25</integer>
	<key>Sad</key>
	<integer>-100</integer>
	<key>Sadistic</key>
	<integer>-100</integer>
	<key>Sarcastic</key>
	<integer>-25</integer>
	<key>Selfish</key>
	<integer>-25</integer>
	<key>Sentimental</key>
	<integer>-25</integer>
	<key>Shy</key>
	<integer>-25</integer>
	<key>Sick</key>
	<integer>-100</integer>
	<key>Sour</key>
	<integer>-25</integer>
	<key>Stupid</key>
	<integer>-25</integer>
	<key>Sympathetic</key>
	<integer>-25</integer>
	<key>Tearful</key>
	<integer>-25</integer>
	<key>Terrible</key>
	<integer>-100</integer>
	<key>Thirsty</key>
	<integer>-25</integer>
	<key>Threatened</key>
	<integer>-100</integer>
	<key>Tired</key>
	<integer>-25</integer>
	<key>Ugly</key>
	<integer>-100</integer>
	<key>Uneasy</key>
	<integer>-25</integer>
	<key>Weak</key>
	<integer>-25</integer>
</dict>
</plist>
